manifest {
    name            = 'seirana/WESscDRS'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=25.04.0'
}

gitOptions = [lfs: true]

params {
    input  = "${baseDir}/data"
    outdir = "${baseDir}/results"
}

process {
    cpus   = 4
    memory = '8 GB'
    time   = '4h'
}

profiles {

    singularity {
        process.executor = 'local'
        singularity.enabled = true
        process.container = "${baseDir}/containers/wes-scdrs.sif"
    }

    standard {
        process.executor = 'local'
        conda.enabled = true
        conda = "${baseDir}/env/environment.yml"
    }

}
