profiles {
  singularity {
    process.executor  = 'local'
    apptainer.enabled = true
    docker.enabled    = false

    // Optional default container for all processes (can omit if set via params/container in main.nf)
    // process.container = "${projectDir}/containers/wes-scdrs.sif"

    // Optional cache (used when referencing docker:// images)
    apptainer.cacheDir = "${System.getenv('HOME')}/.apptainer"
  }

  standard {
    process.executor = 'local'
  }
}

params {
  // Pipeline params (override at runtime as needed)
  repo_url   = 'https://github.com/seirana/WESscDRS.git'
  branch     = 'main'
  run_args   = ''
  outdir     = 'results'

  // IMPORTANT: Use your SIF (or override with --container)
  container  = "${projectDir}/containers/wes-scdrs.sif"

  // Google Drive defaults
  gdrive_url  = 'https://drive.google.com/file/d/1st4mJF1CORXlRX6mNQDDgz7VKn_IdzAt/view?usp=drive_link'
  gdrive_dest = 'data'
}

timeline { enabled = true; file = "timeline.html" }
trace    { enabled = true; file = "trace.txt" }
report   { enabled = true; file = "report.html" }
dag      { enabled = true; file = "flowchart.png" }
