profiles {
  singularity {
    process.executor   = 'local'
    // Use one of these depending on your install:
    apptainer.enabled  = true       // if `apptainer --version` works
    // singularity.enabled = true   // if only `singularity --version` works
    docker.enabled     = false

    // Optional: cache path for pulled images (not used here since we run a local SIF)
    apptainer.cacheDir = "${System.getenv('HOME')}/.apptainer"
  }

  standard {
    process.executor = 'local'
  }
}

params {
  repo_url   = 'https://github.com/seirana/WESscDRS.git'
  branch     = 'main'
  run_args   = ''
  outdir     = 'results'

  // Point to your local SIF
  container  = "${projectDir}/containers/wes-scdrs.sif"

  gdrive_url  = 'https://drive.google.com/file/d/1st4mJF1CORXlRX6mNQDDgz7VKn_IdzAt/view?usp=drive_link'
  gdrive_dest = 'data'
}

timeline { enabled = true; file = "timeline.html" }
trace    { enabled = true; file = "trace.txt" }
report   { enabled = true; file = "report.html" }
dag      { enabled = true; file = "flowchart.png" }
